body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
section{
    height: 450px;
}
h1{
    font-family: sans-serif;
    font-size: 60px;
    color: #363958;
    margin-bottom: 20px;
}
 span{
    color:tomato;
}

h2{
    font-family: sans-serif;
    font-size: 45px;
    color: #363958;
}

h3{
    font-size: 24px;
    color:  #363958;
}
p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 25px;
}

img{
    width: 80%;
}
.container{
    width: 90%;
    height:100px;
}

nav{
   
    font-family: sans-serif;
    font-weight: bold;
    float: right;
    margin-top: 20px;
}

nav ul li{
   list-style-type:none;
   display: inline;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.link-btn{
    background-image:linear-gradient(45deg,lightsalmon,tomato);
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 8%;
}
.half-width p{
    margin-bottom: 50px;
}
.work-area{
    background-color: #E5E5E5;
    height: 700px;
    padding-bottom: 150px;
}
.box-area{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    background-color: #fff;
}
.work-area img{
    width: 100%;
}
.work-area h2{
    font-size: 45px;
    text-align: center;
    letter-spacing: -1px;
    padding-top: 110px;
    padding-bottom: 50px;
}
.shadow-area{
    box-shadow: 0px 7px 20px,rgb(0, 0,0,0.7);
    border-radius: 15px;
    padding-top: 1%;
    padding-right: 0px;
}
.inquiry{
    background-image: url(images/image6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
}
.work-head{
    width: 67%;
    float: left;
    margin-top: 40px;
    margin-left: 8%;
}
.work-head h1{
    color: white;
    font-size: 60px;
    letter-spacing: -3px;
}
.work-button {
    padding-top: 120px;
   
}
footer{
    text-align: center;
    padding-bottom: 100px;
}
.icons img{
    width: 40px;
    height: 40px;
    padding-left: 20px;
    margin-left: 10px;
}
footer h3{
    font-size: 24px;
    color: #696871;
    letter-spacing: -2x;
}
footer p{
    font-size: 36px;
    font-weight: bold;
    color: #363958;
}
